:root {
  ---myfont: small-caps lighter 30px/100% "Segoe UI", Frutiger,
    "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  --buttonfont: small-caps lighter 20px/100% "Segoe UI", Frutiger,
    "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #2d2d2d;
  font: var(---myfont);
}

.title {
  color: white;
  text-align: center;
  margin: 20px auto;
}
.underline {
  margin: 10px auto;
  background-color: aqua;
  width: 70px;
  height: 3px;
}
.cards {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.card {
  padding: 20px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}
.name {
  font-weight: bold;
}
.job {
  color: aqua;
}
.desc {
  margin: 10px 0;
}
.img-container {
  margin: 0px 0px 20px 0px;
}

img {
  border-radius: 50%;
}

.btn {
  background-color: #2d2d2d;
  color: aqua;
  font: var(--buttonfont);
}
.random-button {
  margin: 0 auto;
}
.random {
  border: 2px solid white;
  padding: 5px 10px;
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  border-radius: 9px;
  margin-top: 10px;
}
.random:hover {
  background-color: white;
  color: #2d2d2d;
  border: 2px solid black;
  font-weight: bold;
}
