* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
:root {
  ---myfont: small-caps lighter 43px/150% "Segoe UI", Frutiger,
    "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  --buttonfont: small-caps lighter 20px/100% "Segoe UI", Frutiger,
    "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: white;
  font: var(---myfont);
  user-select: none;
}
.nav-center {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 10px 5px 5px black;
  color: rgb(54, 252, 176);
}
.nav-links {
  display: flex;
}
li {
  margin: 0px 0px 0px 50px;
  transition: transform 0.25s;
}
li:hover {
  transform: scale(1.3);
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
}
h2 {
  background-color: #2d2d2d;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
}
.btn {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  background-color: #2d2d2d;
  border: 3px solid white;
  color: white;
  font: var(--buttonfont);
  font-weight: bold;
}
.btn:hover {
  color: #2d2d2d;
  background-color: white;
  border: 3px solid black;
}

.color {
  color: rgba(11, 216, 216, 0.863);
  font-weight: bold;
  user-select: text;
}
