body {
  background-color: #2d2d2d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

h1 {
  text-align: center;
  font-size: 50px;
  background-color: white;
}
.form_item {
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}
.list__container {
  margin: 30px auto;
  width: 600px;
  background-color: wheat;
  border-radius: 10px;
}
.input-text {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.btn {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  margin-left: 5px;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.568);
}

.todos {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.todo {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todotext {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
