* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #2d2d2d;
  user-select: none;

  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  margin-top: 50px;
}
.clock__container {
  letter-spacing: 7px;
  font-size: 80px;
  color: white;
  border-left: 3px solid #ed1f24;
  padding-left: 20px;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: rgb(212, 69, 69);
  border-radius: 5px;
  transition: 0.3s;
}
.btn:hover {
  background-color: rgba(212, 69, 69, 0.699);
  box-shadow: 10px 5px 5px black;
}
.btn:active {
  box-shadow: 3px 2px black;
}
